.inputForm {
    margin:5px;
}
form {
    margin-left: 25px;
}
p {
    margin-top: 10px;
}
.warning {
    margin-left: 25px;
    color:red;
}
#pType {
    margin:5px;
}
#pAdd {
    margin:15px;
    margin-bottom:0px
}
#addButton {
    margin-top:22px; 
    margin-left: 20px;
}
#cancelProductButton {
    margin-top:22px; 
    margin-left:16px;
}
#product_from {
    line-height: 1.9;
}