.articles{
    width:300px;
    height:230px;
    border-style: solid;
    border-color:#111111;
    border-width: 2px;
    margin-top:25px;
    margin-left:25px;
    margin-right:25px;
    padding: 25px;
    display: inline-block;
}
#pAdd {
    margin:15px;
    margin-bottom:0px
}
#delete-product-btn {
    margin-top: 22px; 
    margin-left: 20px;
}
#addProductButton {
    margin-top:22px; 
    margin-left:16px;
}
